//layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable,
// par exemple un header pour les mises en page de grande taille ou un footer ;
.bold {
  font-weight: map-get($font-weight,bold);
}
.hide {
  display: none;
}
.main-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px auto ;

  &__logo {
      width: 75px;
    }
  &__title {
      font-family: 'DM Sans', sans-serif;
      font-size: map-get($font-size,header-title);
      font-weight: map-get($font-weight, bold);
      text-align: center;
      color: $header-title-color;
    }
}
.main {
  margin: 0 100px;
}
.input-search-container {

  max-width: 1240px;
}
.search-bar {

  position: relative;
  width: 100%;
  &__input{
    background-color: #E7E7E7;
    font-family: 'Lato', sans-serif;
    font-weight: map-get($font-weight, light);
  }
  &__icon {
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
  }
}

.tags-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
    & .main-index-tags{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    &__tag {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
      border-radius: 5px;
      color: map-get($color,white);
      padding: 10px;
        &--ingredients-bg{
          background-color: map-get($color, blue)
        }
        &--appliances-bg {
          background-color: map-get($color, green);
        }
        &--ustensils-bg {
          background-color: map-get($color,orange);
        }
        &-close-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          gap: 0;
          aspect-ratio: 1/1;
          height: 20px;
          border: none;
          background-color: rgba(0,0,0,0);
        }
    }

    &__tags-for-appliances{

    }
    &__tags-for-ustensils{

    }

}