//le directory base/ contient les fichiers qui définissent les fondations
// de votre site, par exemple la police de caractères
//et les normes que vous voulez appliquer sur tout votre site, telles que le box-sizing ;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style-type: none;
}