//Typography
$font-size: (
  header-title: 2.1rem,
  search-label: 1.1rem,
  filter-label: 0.9rem,
  dropdown-label: 1.1rem,
  card-label: 1.1rem,
  card-text-label: 0.8rem,
  card-time-label: 1.1rem
);

$font-weight: (
  thin: 100px,
  light: 300px,
  regular: 400px,
  bold: 700px,
  black: 900px
);

$color: (
  blue: #3282F7,
  green: #68D9A4,
  orange: #ED6454,
  white: #FFF,
  black: #555
);

