//Typography
$font-size: (
        header-title: 2.1rem,
        search-label: 1.1rem,
        filter-label: 0.9rem,
        dropdown-label: 1.1rem,
        card-label: 1.1rem,
        card-text-label: 0.8rem,
        card-time-label: 1.1rem
);
