//Typography
$font-size: (
  header-title: 2.25rem,
  search-label: 1.125rem,
  filter-label: 0.875rem,
  dropdown-label: 1.125rem,
  card-label: 1.125rem,
  card-text-label: 0.75rem,
  card-time-label: 1.125rem
);

$font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  bold: 700,
  black: 900
);

$color: (
  red : #D04F4F,
  blue: #3282F7,
  green: #68D9A4,
  orange: #ED6454,
  white: #FFF,
  black: #555,
  grey: #C7BEBE,
  ligh-grey: #E7E7E7
);

